{%extends 'core/base.html'%}
{%load static%}
{%block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Log In to your Account</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class= "row">
        <center>
            <div class="col-8">
                <br></br>
                <form method="POST" action ="{%url 'core:login'%}">
                    {%csrf_token%}
                    <div class="mb-3">
                      <input type="text" class="form-control" name="username" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-secondary">Login</button>
                  </form>
                  <br></br>
                  <a href={%url 'core:register'%}><button type="submit" class="btn btn-secondary">Don't have an account? Register here</button></a>
                <br></br>
                </div>
            </div>
        </center>
    </div>
</div>

{%endblock%}