{%extends 'core/base.html'%}
{%load static%}
{%block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register Here</h1>
        </div>
    </div>
    <form method ="POST" action="{%url 'core:login'%}">
    {%csrf_token%}
    </form>
</header>
{%endblock%}